% -*- erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}, warnings_as_errors]}.

%%-------------------------------------------------------------------
%% Dependencies
%%-------------------------------------------------------------------

{deps,
 [
  {meck, "0.8.2", {git, "https://github.com/basho/meck.git", {tag, "0.8.2"}}},
  {lager, ".*", {git, "https://github.com/basho/lager", {ref,"cbf6679c6a693772fd1629c9cdc093e4c6c4ebf8"}}},
  {jsx, "1.4.5"},
  {cowboy, "1.0.2"},
  {cowboy_oauth, ".*", {git, "https://github.com/project-fifo/cowoby_oauth.git", {tag, "0.2.11"}}},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.3"}}},
  {e2qc, ".*", {git, "https://github.com/arekinath/e2qc.git", {ref,"9c14c6aeb2f00b9c331ed2bd6d1dc7cac7ec987f"}}},
  jsxd,
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {tag, "0.4.7"}}},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.55"}}},
  {fifo_spec, "0.1.*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.21"}}},
  {fifo_s3, "0.1.*", {git, "https://github.com/project-fifo/fifo_s3.git", {tag, "0.1.13"}}},
  {libchunter, "0.1.*", {git, "https://github.com/project-fifo/libchunter.git", {tag, "0.1.40"}}},
  {libsniffle, "0.3.*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.3.30"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.33"}}},
  lager_watchdog,
  {jesse, ".*", {git, "https://github.com/klarna/jesse.git", {tag, "1.1.5"}}},
  folsom_ddb,
  {dqe, ".*", {git, "https://github.com/dalmatinerdb/dqe.git", {tag, "0.1.23"}}}
 ]}.

%%-------------------------------------------------------------------
%% Hooks
%%-------------------------------------------------------------------

{pre_hooks, [{compile, "make version_header"}]}.

%%-------------------------------------------------------------------
%% Testing
%%-------------------------------------------------------------------

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer, [{warnings, [underspecs]}]}.

%%-------------------------------------------------------------------
%% Overrides
%%-------------------------------------------------------------------

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.


