{erl_opts, [debug_info,
            {parse_transform, lager_transform}, warnings_as_errors]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts, [{dir, "doc"}]}.

{deps,
 [
  {meck, "0.8.2", {git, "git://github.com/basho/meck.git", {tag, "0.8.2"}}},
  {lager, ".*", {git, "git://github.com/basho/lager", {ref,"cbf6679c6a693772fd1629c9cdc093e4c6c4ebf8"}}},
  {jsx, "1.4.5"},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.49"}}},
  {mimetypes, ".*", {git, "http://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
  {cowboy, "1.0.2"},
  {cowboy_oauth, ".*", {git, "https://github.com/project-fifo/cowoby_oauth.git", {tag, "0.2.5"}}},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.3"}}},
  {e2qc, ".*", {git, "git://github.com/arekinath/e2qc.git", {ref, "075021c13013a38b59115ac89d9c4affe6218229"}}},
  {jsxd, "0.1.10"},
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {tag, "0.4.7"}}},
  {fifo_spec, "0.1.*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.18"}}},
  {fifo_utils, "0.1.12"},
  {fifo_s3, "0.1.*", {git, "https://github.com/project-fifo/fifo_s3.git", {tag, "0.1.10"}}},
  {libchunter, "0.1.*", {git, "https://github.com/project-fifo/libchunter.git", {tag, "0.1.38"}}},
  {libsniffle, "0.3.*", {git, "http://github.com/project-fifo/libsniffle.git", {tag, "0.3.23"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.23"}}},
  {lager_watchdog, "0.1.10"},
  {jesse, ".*", {git, "https://github.com/klarna/jesse.git", {tag, "1.1.5"}}},
  {folsom_ddb, "0.1.14"},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {tag, "0.3.0"}}},
  {dqe, ".*", {git, "https://github.com/dalmatinerdb/dqe.git", {tag, "0.1.11"}}}
 ]}.

{pre_hooks, [{compile, "make version_header"}]}.

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.
