                                                % -*- erlang -*-
{erl_opts, [debug_info,
            {parse_transform, lager_transform}, warnings_as_errors]}.

%%-------------------------------------------------------------------
%% Dependencies
%%-------------------------------------------------------------------

{deps,
 [
  {meck, "0.8.2", {git, "https://github.com/basho/meck.git", {tag, "0.8.2"}}},
  {lager, ".*", {git, "https://github.com/basho/lager", {ref,"cbf6679c6a693772fd1629c9cdc093e4c6c4ebf8"}}},
  {jsx, "1.4.5"},
  {cowboy, "1.0.2"},
  {cowboy_oauth, ".*", {git, "https://github.com/project-fifo/cowoby_oauth.git", {tag, "0.2.11"}}},
  {msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", {tag, "0.3.3"}}},
  {e2qc, ".*", {git, "https://github.com/arekinath/e2qc.git", {ref,"9c14c6aeb2f00b9c331ed2bd6d1dc7cac7ec987f"}}},
  jsxd,
  {uuid, ".*", {git, "https://github.com/project-fifo/erlang-uuid.git", {tag, "0.4.7"}}},
  {fifo_dt, "0.1.*", {git, "https://github.com/project-fifo/fifo_dt.git", {tag, "0.1.58"}}},
  {fifo_spec, "0.1.*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.24"}}},
  {fifo_s3, "0.1.*", {git, "https://github.com/project-fifo/fifo_s3.git", {tag, "0.1.13"}}},
  {libchunter, "0.1.*", {git, "https://github.com/project-fifo/libchunter.git", {tag, "0.1.42"}}},
  {libsniffle, "0.3.*", {git, "https://github.com/project-fifo/libsniffle.git", {tag, "0.3.32"}}},
  {libsnarl, "0.3.*", {git, "https://github.com/project-fifo/libsnarl.git", {tag, "0.3.35"}}},
  {jesse, ".*", {git, "https://github.com/klarna/jesse.git", {tag, "1.1.5"}}},
  folsom_ddb,
  {dqe, ".*", {git, "https://github.com/dalmatinerdb/dqe.git", {tag, "0.1.23"}}}
 ]}.

{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}]}]}
 ]}.

%%-------------------------------------------------------------------
%% Hooks
%%-------------------------------------------------------------------

{pre_hooks, [{compile, "make version_header"}]}.

%%-------------------------------------------------------------------
%% Testing
%%-------------------------------------------------------------------

{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer, [{warnings, [underspecs]}]}.


{elvis,
 [#{dirs => ["src"],
    filter => "*.erl",
    rules => [{elvis_style, line_length,
               #{ignore => [],
                 limit => 80,
                 skip_comments => false}},
              {elvis_style, no_tabs},
              {elvis_style, no_trailing_whitespace},
              {elvis_style, macro_names, #{ignore => []}},
              {elvis_style, macro_module_names},
              {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                         {right, "++"},
                                                         {left, "++"}]}},
              {elvis_style, nesting_level, #{level => 3}},
              {elvis_style, god_modules, #{limit => 25,
                                           ignore => []}},
              {elvis_style, no_if_expression},
              {elvis_style, invalid_dynamic_call,
               #{ignore => [wiggle_rest_h]}},
              {elvis_style, used_ignored_variable},
              {elvis_style, no_behavior_info},
              {
                elvis_style,
                module_naming_convention,
                #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                  ignore => []}
              },
              {
                elvis_style,
                function_naming_convention,
                #{regex => "^([a-z][a-z0-9]*_?)*$"}
              },
              {elvis_style, state_record_and_type},
              {elvis_style, no_spec_with_records},
              {elvis_style, dont_repeat_yourself, #{min_complexity => 10}},
              {elvis_style, no_debug_call,
               #{ignore => [wiggle_console]}}
             ]
   },
  #{dirs => ["."],
    filter => "Makefile",
    rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
              {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "rebar.config",
    %% on the test branch master deps are OK
    rules => [%{elvis_project, no_deps_master_rebar, #{ignore => []}},
              {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
   },
  #{dirs => ["."],
    filter => "elvis.config",
    rules => [{elvis_project, old_configuration_format}]
   }
 ]
}.

%%-------------------------------------------------------------------
%% Overrides
%%-------------------------------------------------------------------

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.
